.table_header {
    background: rgba(51, 89, 130, 0.53); /* Цвет фона ячеек */
    padding: 1px; /* Поля вокруг текста */
    text-align: center;
    font-size:15px;
}

.main_table {
    width: 100%;
    table-layout:auto; /*Ширина столбцов по содержимому*/
    background: #ccc;
    border-radius: 12px;
    border-spacing: 0;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

.forms {
    margin: 0;
}

.delete_forms {
    margin: 0;
}

.row {
    background: #c8d2dd; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */

}

.cell {
    border: 1px solid #ebebeb;
    text-align: left;
    font-size:14px;
    padding-left: 5px;
}

.main_block {
    width: 100%;
    margin:auto;
}

th:first-child {
    border-top-left-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
    border-right: none;
}

#table_footer {
    position: relative;
    height: 50px;
    /*padding-top: 18px;*/
    padding-bottom: 25px;
}

#create_button {
    position: absolute;
    left: 70px;

}

#generate_button {
    position: absolute ;
    right: 70px;

}