<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>terminals.controller.servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UTFFilter</filter-name>
        <filter-class>terminals.controller.servlets.UTFFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTFFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>terminals.controller.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>terminals.controller.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>terminals.controller.servlets.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainUsers</servlet-name>
        <servlet-class>terminals.controller.servlets.users.MainUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selector</servlet-name>
        <servlet-class>terminals.controller.servlets.Selector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>terminals.controller.servlets.users.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>terminals.controller.servlets.users.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>terminals.controller.servlets.users.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainDeparts</servlet-name>
        <servlet-class>terminals.controller.servlets.departs.MainDeparts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDepart</servlet-name>
        <servlet-class>terminals.controller.servlets.departs.AddDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepart</servlet-name>
        <servlet-class>terminals.controller.servlets.departs.DeleteDepart</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MainTerminals</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.MainTerminals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTerminal</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.AddTerminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTerminal</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.UpdateTerminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTerminal</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.DeleteTerminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regs</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.Regs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateBarcode</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.GenerateBarcode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBarcodes</servlet-name>
        <servlet-class>terminals.controller.servlets.terminals.DisplayBarcodes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegs</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.FilterRegs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRegs</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.SortRegs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminalInputValidate</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.TerminalInputValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInputValidate</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.GiveValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveValidate</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.ReceiveValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePhoto</servlet-name>
        <servlet-class>terminals.controller.servlets.registrations.GeneratePhoto</servlet-class>
    </servlet>





    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainUsers</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selector</servlet-name>
        <url-pattern>/selector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainDeparts</servlet-name>
        <url-pattern>/departs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDepart</servlet-name>
        <url-pattern>/adddepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepart</servlet-name>
        <url-pattern>/deletedepart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MainTerminals</servlet-name>
        <url-pattern>/terminals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTerminal</servlet-name>
        <url-pattern>/addterminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTerminal</servlet-name>
        <url-pattern>/updateterminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTerminal</servlet-name>
        <url-pattern>/deleteterminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regs</servlet-name>
        <url-pattern>/regs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateBarcode</servlet-name>
        <url-pattern>/generatebarcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBarcodes</servlet-name>
        <url-pattern>/displaybarcodes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegs</servlet-name>
        <url-pattern>/filterregs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRegs</servlet-name>
        <url-pattern>/sortregs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminalInputValidate</servlet-name>
        <url-pattern>/terminalinputvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInputValidate</servlet-name>
        <url-pattern>/givevalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveValidate</servlet-name>
        <url-pattern>/receivevalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePhoto</servlet-name>
        <url-pattern>/generatephoto</url-pattern>
    </servlet-mapping>



</web-app>
